body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Light mode background color */
    color: #333; /* Light mode text color */
}

.dark-mode body {
    background-color: #333; /* Dark mode background color */
    color: #ffffff; /* Dark mode text color */
}

header {
    background-color: lightgray;
}

.container {
    max-width: 768px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.dark-mode h1, .dark-mode h2 {
    color: #ffffff; /* Dark mode heading color */
}

.pantry {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dark-mode .pantry {
    background-color: #333; /* Dark mode pantry background color */
}

input[type="text"] {
    width: calc(100% - 15px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.dark-mode button {
    background-color: #333; /* Dark mode button background color */
    color: #ffffff; /* Dark mode button text color */
}

.dark-mode button:hover {
    background-color: #666; /* Dark mode button hover background color */
}

.mode-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mode-buttons button {
    margin: 0 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode li {
    background-color: #444; /* Dark mode list item background color */
}

.remove-btn {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #d32f2f; /* Darker red */
}
